<div class="sidenav-content">
    <div class="content-itemcontent-item cursor" routerLink="/" routerLinkActive="active">
      <div class="image">
        <img src="./assets/images/rectangle.png" width="23" height="auto" alt="icon">
      </div>
      <span class="text"></span>
    </div>
    <div class="content-item cursor" routerLink="/home" routerLinkActive="active">
      <div class="content-item-image">
        <img src="./assets/images/home_menu.png" width="23" height="auto" alt="icon">
      </div>
      <span class="text">Home</span>
    </div>
    <div class="content-item cursor" routerLink="/collections" routerLinkActive="active">
      <div class="content-item-image">
        <img src="./assets/images/collections.png" width="23" height="auto" alt="icon">
      </div>
      <span class="text">Collections</span>
    </div>
    <div class="content-item cursor" routerLink="/compaign" routerLinkActive="active">
      <div class="content-item-image">
        <img src="./assets/images/marketing_.png" width="23" height="auto" alt="icon">
      </div>
      <span class="text">Compaign</span>
    </div>
    <div class="content-item cursor"  routerLink="/products" routerLinkActive="active">
      <div class="content-item-image">
        <img src="./assets/images/product.png" width="23" height="auto" alt="icon">
      </div>
      <span class="text">Products</span>
    </div>
  </div>