<div class="profile">
    <div class="d-flex align-items-center">
      <div class="profile-pic">
        <img src="./assets/images/avatar.png" class="cursor" alt="user avatar" width="40" height="40">
      </div>
      <div class="user-info p-left">
          <span class="user-name">Abhishek</span>
          <span class="user-profile">CXO Manager</span>
      </div>
      <div class="user-line"> </div>
      <div class="dropdown cursor p-right">
        <img src="./assets/images/whitecarret.png" onclick="myFunction()" class="dropbtn" alt="icon" width="12">
        <div  id="myDropdown" class="dropdown-content">
          <a class="dropdown-item d-flex1 hr-line">Logout <span class="material-icons ml-auto f-size b-dark">power_settings_new</span></a>
          <a class="dropdown-item d-flex1">Manage Profile  <span class="material-icons ml-auto f-size b-dark">settings</span> </a>
        </div>
      </div>
  </div>
</div>
