
p{
    color: #fff;
}
.table-border , th, td, tr{
    border:1px solid #fff;
    padding:7px;
    border-collapse: collapse;width: 100%;
}
thead{
    background: #181818;
}
.main-block {
    padding:25px;
    color:#fff;
    /* width: 100%; */
}
.parent-block{
    width:50%;
    margin: 20px 0px;
    float: left;
}
.child-block{
    width:50%;
    margin: 20px 0px;
    float: right;
}