<div class="settlement-offer">
    <div class="settlement-offer-header">
        Settlement Offers 
        <span>
            <img src="assets/images/info-d.png" alt="icon" class="info-icon">
        </span>
    </div>
    <div class="settlement-offer-content">
        <div class="settlement-title">
            Customer Profile
            <span class="view">View Details <i aria-hidden="true" class="fa fa-eye"></i></span>
        </div>
        <div class="settlement-bock">
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/ionic-md-rocket.png" alt="icon" width="20">
                    </div>
                    <div class="block-box-content-text">
                        3.37 Lac
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Raised
                </div>
            </div>
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/check.png" alt="icon" width="36">
                    </div>
                    <div class="block-box-content-text">
                        2.56 Lac
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Honered
                </div>
            </div>
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/customerp3.png" alt="icon" width="36">
                    </div>
                    <div class="block-box-content-text">
                        98 K
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Broke
                </div>
            </div>
        </div>
        <div class="settlement-title">
            Bank Profile
            
        </div>
        <div class="settlement-bock">
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/undo-button.png" alt="icon" width="26">
                    </div>
                    <div class="block-box-content-text">
                        2.15 Lac
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Re-Negotiated
                </div>
            </div>
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/awesome-user.png" alt="icon" width="37">
                    </div>
                    <div class="block-box-content-text">
                        3.1 Lac
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Approved
                </div>
            </div>
            <div class="block-box">
                <div class="block-box-content">
                    <div class="block-box-content-img">
                        <img  src="assets/images/cross.png" alt="icon" width="32">
                    </div>
                    <div class="block-box-content-text">
                        36 K
                    </div>
                </div>
                <div class="block-box-footer">
                    Offers Rejected
                </div>
            </div>
        </div>
    </div>
    <div class="settlement-offer-footer"></div>
</div>