 <div class="h-5">
    Portfolio Overview
</div>
<div class="block">
    <div class="block1">
        <div class="account active-btn" id="acc-size">
            <i class="fa fa-user-circle acc-size" onclick="show1()"></i>
        </div>
        <div class="hr-line"> </div>
        <div class="rupees" id="rup-size">
            <i class="fa fa-inr" aria-hidden="true"  onclick="show2()"></i>
        </div>
        <div class="vr-line"> </div>
        <div class="block-text" id="content-change"> By Account</div>
        <!-- <div class="block-text" > By Account</div> -->
    </div>
    <div class="block2">
        
        <!-- <div class=" btn-border dropdown" >
            <span *ngIf="selectedDropdown">  {{selectedDropdown.name}} </span> 
            <span class="material-icons rounded-icon" > expand_more </span>
            <ul class=" dropdown-content">
             <li 
             class="dropdown-item"
             *ngFor="let item of Dropdownlist"
             [class.selected]="item === selectedDropdown"
              (click)="onSelectList(item)"
               >
                 {{item.name}}
             </li>
           </ul>
        </div> -->


<div class="btnBorder" (mouseenter)="dropdownContent=false" (mouseleave)="dropdownContent=true" >
    text
    <span class="material-icons rounded-icon"> expand_more </span>
    <ul class="dropdownContent" *ngIf="!dropdownContent">
        <li class="dropdown-item" *ngFor="let list2 of dropdownList2" >
            {{list2}}
        </li>
    </ul>
</div>
<!-- 
        <div (mouseenter)="changeText=true" (mouseleave)="changeText=false">
            <span *ngIf="!changeText">Hide</span>
            <span *ngIf="changeText">Show</span>
          </div> -->

        
           
    </div>

</div>


<!--5 Column Content Start-->
<div class="block Bucket1 details" id="div1" >
    <div class="dashboard-block b-bdr"  *ngFor=" let Pdata of PortfolioData1">
        <div class="dashboard-box" >
            <div class="dashboard-icon">
                <img src={{Pdata.image}} class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>{{Pdata.title}}</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2" >
                    <span class="dashboard-text-2-rate">{{Pdata.amount}}</span>
                    <span  class="dashboard-text-2-percent">{{Pdata.percent}}</span>
                </div>
            </div>

        </div>
    </div>
 
</div>
<!--5 Column Content End-->
<!--5 Column Content Start-->
<div class="block Bucket2 details" id="div2" >
    <div class="dashboard-block b-bdr" *ngFor=" let PNewdata of PortfolioData2">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src={{PNewdata.image}} class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>{{PNewdata.title}}</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">{{PNewdata.amount}} </span>
                    <span  class="dashboard-text-2-percent">{{PNewdata.percent}} </span>
                </div>
            </div>

        </div>
    </div>
  
</div>
