 <div class="h-5">
    Portfolio Overview
</div>
<div class="block">
    <div class="block1">
        <div class="account active-btn" id="acc-size">
            <i class="fa fa-user-circle acc-size" onclick="show1()"></i>
        </div>
        <div class="hr-line"> </div>
        <div class="rupees" id="rup-size">
            <i class="fa fa-inr" aria-hidden="true"  onclick="show2()"></i>
        </div>
        <div class="vr-line"> </div>
        <div class="block-text" id="content-change"> By Account</div>
        <!-- <div class="block-text" > By Account</div> -->
    </div>
    <div class="block2">
        <div class=" dropdown btn-border">
            <span class="dropdown-text">Bucket 1</span>
                <span class="material-icons rounded-icon"> expand_more </span>
                <div class="dropdown-content">
             <a class="dropdown-item" >Bucket 1</a>
             <a class="dropdown-item">Bucket 2 </a>
             <a class="dropdown-item">Bucket 3 </a>
             <a class="dropdown-item">Bucket 4 </a>
             <a class="dropdown-item">Bucket 5 </a>
             <a class="dropdown-item">Bucket 6 </a>
             <a class="dropdown-item">Bucket 7 </a>
             <a class="dropdown-item" style="border-bottom: none">Bucket 8 </a>
           </div>

        </div>

        <div class="btn-border dropdown">
            <span class="dropdown-text">January' 21</span>
                <span class="material-icons rounded-icon"> expand_more </span>
                <div class="dropdown-content">
                    <a class="dropdown-item">January' 21</a>
                    <a class="dropdown-item">Febuary' 21 </a>
                    <a class="dropdown-item">March' 21 </a>
                    <a class="dropdown-item">April' 21 </a>
                    <a class="dropdown-item">May' 21 </a>
                    <a class="dropdown-item"  style="border-bottom: none">June' 21 </a>
                  </div>
            </div>
           
    </div>

</div>


<!--5 Column Content Start-->
<div class="block" id="div1" >
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">9.84 Lac</span>
                    <span  class="dashboard-text-2-percent"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Engagement</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">7.14 Lac</span>
                    <span  class="dashboard-text-2-percent"> 72.50 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">3.37 Lac</span>
                    <span  class="dashboard-text-2-percent"> 47.17 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">74.99 Lac</span>
                    <span  class="dashboard-text-2-percent">22.27 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">4.35 Lac</span>
                    <span  class="dashboard-text-2-percent"> 44.21 %</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!--5 Column Content End-->
<!--5 Column Content Start-->
<div class="block" id="div2">
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">4,178.60 Cr</span>
                    <span  class="dashboard-text-2-percent"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Engagement</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">3,070.47 Cr</span>
                    <span  class="dashboard-text-2-percent"> 73.48 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">1,551.80 Cr</span>
                    <span  class="dashboard-text-2-percent"> 50.54 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">297.92 Cr</span>
                    <span  class="dashboard-text-2-percent">19.20 %</span>
                </div>
            </div>

        </div>
    </div>
    <div class="dashboard-block b-bdr">
        <div class="dashboard-box">
            <div class="dashboard-icon">
                <img  src="assets\images\totalAccounts.png" class="img-width">
            </div>
            <div class="dashboard-text">
                <div class="dashboard-text-1">
                    <span>Total Accounts</span>
                    <span>
                        <img src="assets/images/info-d.png" alt="icon" class="dashboard-text-1-icon">
                    </span>
                </div>
                <div class="dashboard-text-2">
                    <span class="dashboard-text-2-rate">1,591.31 Cr</span>
                    <span  class="dashboard-text-2-percent"> 38.08 %</span>
                </div>
            </div>

        </div>
    </div>
</div>
<!--5 Column Content End-->