
<div class="main-block" >
   
    <table class="table-border">
        <thead >
            <th>id</th>
            <th>email</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>avatar</th>
           
        </thead>
        <tbody *ngFor="let userprofile of users"  >
            <td>
                {{userprofile.id}} 
            </td>
            <td>
                {{userprofile.email}} 
            </td>
            <td>
                {{userprofile.first_name}} 
            </td>
            <td>
                {{userprofile.last_name}} 
            </td>
            <td>
                <img src={{userprofile.avatar}} (click)="openModal()" />
                
            </td>
            <div class="popup"  [ngStyle]="{'display':display}" >
             <p> Id :  {{ userprofile.id}}</p>
             <p> Email : {{userprofile.email}} </p>
             <p> First Name :  {{userprofile.first_name}} </p>
             <p> LastName : {{userprofile.last_name}} </p>
             <p><button type="button" class="btn btn-default" (click)="closeModal()" >Close</button></p>
           </div>
            
        </tbody>
        
    </table>
   
</div>




