<div class="resolution-block">
    <div class="resolution-block-header">
        Resolution Rate by TOS Buckets
        <span>
            <img src="assets/images/info-d.png" alt="icon" class="info-icon">
        </span>
    </div>
    <div class="resolution-block-content">
        <div class="graph-bar graph-grad1"></div>
        <div class="graph-bar graph-grad2"> </div>
        <div class="graph-bar graph-grad3"> </div>
        <div class="graph-bar graph-grad4"> </div>
        <div class="graph-bar graph-grad5"> </div>
    </div>
    <div class="resolution-block-footer">
        Download Reports
        <span>
            <img src="assets/images/downloadShape.png" alt="icon" class="footer-icon">
        </span>
    </div>
</div>