<div class="main-block">
   
    <app-portfolio-overview></app-portfolio-overview>
</div>

<div class="dashboard-container button2">
    <div class="dashboard-container-block">
        <app-resolution-rate></app-resolution-rate>
    </div>
    <div class="dashboard-container-block">
        <app-settlement-offer></app-settlement-offer>
    </div>
    <div class="dashboard-container-block">
        <app-statewise-performance></app-statewise-performance>
    </div>
</div>
<div class="dashboard-container">
    <div class="dashboard-container-block1">
        <app-portfolio></app-portfolio>
    </div>
    <div class="dashboard-container-block2">
        <app-resolution-trends></app-resolution-trends>
    </div>
    
</div>