

<div class="resolution-trends">
    <div class="resolution-trends-header">
        Resolution Trend
        <span>
            <img src="assets/images/info-d.png" alt="icon" class="info-icon">
        </span>
    </div>
    <div class="resolution-trends-content">
        <div  class="resolution-trends-head"> 
            <div class="resolution-trends-head-left">
                
            </div>
            <div class="resolution-trends-head-right">
                <div class="btn-border dropdown">
                    <span class="dropdown-text">March' 21</span>
                        <span class="material-icons rounded-icon"> expand_more </span>
                        <div class="dropdown-content">
                            <a class="dropdown-item">January' 21</a>
                            <a class="dropdown-item">Febuary' 21 </a>
                            <a class="dropdown-item">March' 21 </a>
                            <a class="dropdown-item">April' 21 </a>
                            <a class="dropdown-item">May' 21 </a>
                            <a class="dropdown-item"  style="border-bottom: none">June' 21 </a>
                          </div>
                    </div>
            </div>
     </div>
    </div>
    <div class="resolution-trends-footer">
        Full View Analytics
        <span>
            <i aria-hidden="true" class="fa fa-ellipsis-h footer-icon"></i>
        </span>
    </div>
</div>